html {
  background-color: lightgray;
  height: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Helvetica', 'Arial', sans-serif;
  position: relative;
  height: 100%;
}

.blueTeam, .redTeam
{
  margin: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}

.blueTeam {
  color: blue;
}

.redTeam {
  color: red;
}

.currentQuestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.currentQuestion #questionNumber {
  font-size: 30px;
}

.currentQuestion #question {
  font-size: 22px;
}

.reponseBlock {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reponseBlock button {
  margin-left: 10px;
  margin-right: 10px;
  border: 0;
  font-size: 18px;
  color: white;
}

#buttonBlue {
  background-color: blue;
}

#buttonRed {
  background-color: red;
}

.reponse {
  width: 250px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0858ba;
  color: white;
  border: 1px solid white;
}

.reponseYetToDiscover {
  width: 250px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0858ba;
  border: 1px solid white;
  color: white;
  text-align: center;
}

.reponseText {
  margin-left: 10px;
  font-size: 18px;
}

.reponsePointsBlock {
  height: 100%;
  width: 40px;
  background-color: #053f8b;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
  border-left: 1px solid white;
}

#debugButton {
  position: absolute;
  bottom: 0;
  right: 0;
}